body {
    background-color: #111;
    overflow: hidden;
    display: flex;
    height: 100vh;
    font-size: 16px;
    font-family: Consolas, Courier New, Courier, monospace;
    color: white;
}

.game-text {
    span {
        padding: 2px 0px;
		display:inline-block;
		max-width: 80ch;
        word-wrap: break-word;
        margin-right: 1ch;
    }
}

.error-text {
    background-color: crimson;
    font-weight: bold;
}

.system-text {
    background-color: green;
    font-weight: bold;
}

input {
    background-color: #111;
    border: none;
    outline: 0;
    &:focus {
        border: none;
        outline: 0;
    }
}

#TelnetArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#InformationArea {
    flex-grow: 0;
    width: 200px;
    min-width: 200px;
    height: 100%;
    border: solid 1px white;
}

#StatArea span {
    margin-right: 0px;
}

#Tabs {
    width: 100%;
    flex-grow: 0;
    height: 200px;
    min-height: 200px;
    border: solid 1px white;
}

#Output {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

#InputArea {
    height: 24px;
    min-height: 24px;
    font-weight: bold;
    flex-grow: 0;
    display: flex;

    #InputBox {
        flex-grow: 1;
    }
}

.room-name {
    color: cyan;
    font-weight: bold;
}

.room-description {
    color: white;
}

.exits {
    color: rgb(22, 190, 22);
}

.actors {
    color: fuchsia;
}

.gossip {
    color: fuchsia;
}

.say {
    color: greenyellow;
}

.telepath {
    color: white;
}

.inventory {
    color: white;
}

.items {
    color: cyan;
}

.login, .logout {
    color: white;
    font-weight: bold;
}

.moving-player {
    color: red;
}

.party-follow {
    color: white;
}

.player-separator {
    color: darkred;
}

.party-movement {
    color: darkgreen;
}

.item-ownership {
    color: goldenrod;
}

.action-not-allowed {
    color: red;
    font-weight: bold;
}

.hear-movement {
    color: purple;
}

.cannot-see {
    color: darkgray;
}

.dimly-lit {
    color: gray;
}

.search {
    color: white;
}

.search-found {
    color: darkcyan;
}

.equip {
    color: darkgoldenrod;
}

.wealth-label, .inventory-label, .encumbrance-label {
    color: mediumseagreen;
}

.item-cash {
    color:darkorange;
}

.item-equipped {
    color: skyblue;
}

.wealth-amount, .encumbrance-value, .item-held {
    color: deepskyblue;
}

.item-separator {
    color: darkcyan;
}