@model KatanaMUD.Models.Actor
@{
    ViewBag.Title = "Create a new Character";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h3>Create a Character</h3>

@using (Html.BeginForm("CreateCharacter", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
{
    <div>
        <label for="Name">First Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label for="Surname">Last Name</label>
        @Html.TextBoxFor(x => x.Surname)
    </div>
}